.chat-container {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 600px;
    overflow: auto;
}

.messages {
    flex: 1;
    padding: 20px;
    overflow: auto;
    background: #ba2a2a;
    width: 100%;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}

.input-container {
    display: flex;
    border-top: 1px solid #e0e0e0;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    border-right: 1px solid #e0e0e0;
}

button {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
.messages-container {
    height: 400px; /* Adjust the height as needed */
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

.message-time {
    font-size: 0.8em;
    color: #888;
}